<div class="modal fade" id="widgetSettingsModal" tabindex="-1" aria-labelledby="widgetSettingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="widgetSettingsModalLabel">Widget Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="editingWidgetId" />
        <div class="row">
          <div class="col-md-4 border-end">
            <h6>Available Fields</h6>
            <div id="modal-available-fields" style="max-height: 400px; overflow-y: auto;">
              </div>
          </div>

          <div class="col-md-8">
            <ul class="nav nav-tabs mb-3">
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#data-config-tab">Data</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#options-config-tab">Options</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="data-config-tab">
                <h6>Dimensions</h6>
                <div id="widget-dropzone-dimensions" class="widget-dropzone p-3 border rounded bg-light mb-3" style="min-height: 100px;">
                  </div>
                <h6>Measures</h6>
                <div id="widget-dropzone-measures" class="widget-dropzone p-3 border rounded bg-light" style="min-height: 100px;">
                  </div>
              </div>
              <div class="tab-pane fade" id="options-config-tab">
                <div class="mb-3">
                  <label for="widgetTitleInput" class="form-label">Widget Title</label>
                  <input type="text" class="form-control" id="widgetTitleInput">
                </div>
                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="showLegendSwitch">
                  <label class="form-check-label" for="showLegendSwitch">Show Legend</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveWidgetSettingsBtn">Save Changes</button>
      </div>
    </div>
  </div>
</div>