<div class="modal fade" id="saveReportModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Save Report</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="reportNameInput" class="form-label">Report Name</label>
            <input type="text" class="form-control" id="reportNameInput" placeholder="Enter a descriptive name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="confirmSaveBtn">Save</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="loadReportModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Load Report</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <input type="search" class="form-control mb-3" id="loadReportSearch" placeholder="Search reports...">
            <div id="reportsListContainer" class="list-group">
                </div>
        </div>
      </div>
    </div>
</div>